<%= form_with model: @etemplate,class: "row g-2" do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
</div>
<div class="">
  <%= f.label :title %>
  <%= f.text_area :title, class: 'form-control',rows: 6,placeholder: "titles use | or Enter to separate" %>
</div>

<div class="">
  <%= f.check_box :isused ,class: "form-check-input"%>
  <%= f.label :isused,"是否当前使用(表示相册编辑导出使用该组)" ,class: "form-check-label"%>

</div>
<br/>
<div class="col-auto">
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
</div>

<% end %>
